select {
    background-color: transparent;
    border: none;
    color: #dedeee;
    font-size: 18px;
    margin-bottom: 15px;

    option {
        color: #49486f;
        background-color: transparent;
    }
}